<div class="hashLoginContainer">
  <div class="hashLoginoverlayContainer">
    <div class="hashBrandlogo">
        <img src="images/hashlogo.png" alt="Hash" title="hash logo">
        <p class="hashwelcomenote"> Welcome to dostgappa</p>
        <p class="hashwelcometag">Keep Smiling</p>
    </div>
  <div class="hashLoginwrapper">
    <div class="hashFormbox">
<form name="regForm">
 
  <!--USERNAME-->
  <div class="form-group">
  <input type="text" name="userName" placeholder="Username" class="form-control" ng-model="register.userName" required="" ng-minlength="8">
  </div>
  <div ng-show="regForm.$submitted || regForm.userName.$touched">
  <span ng-show="regForm.userName.$error.required" class="hasherrormsg">This field is required</span>
  <span ng-show="regForm.userName.$error.minlength" class="hasherrormsg">The username should be more then 8 character</span>
  </div>
  <!--EMAIL-->
  <div class="form-group" ng-class="{ 'has-error' : regForm.emailId.$invalid }">
  <input type="email" name="emailId" placeholder="Email" class="form-control" ng-model="register.emailId" required="">
  </div>
  <div ng-show="regForm.$submitted || regForm.emailId.$touched">
    <span ng-show="regForm.emailId.$error.required" class="hasherrormsg">Tell us your email.</span>
    <span ng-show="regForm.emailId.$invalid" class="hasherrormsg">This is not a valid email.</span>
  </div>
  <!--PASSWORD-->
  <div class="form-group">
  <input type="password" name="password" placeholder="Password" class="form-control" ng-model="register.password" ng-minlength="8" required="">
  </div>
  <div ng-show="regForm.$submitted || regForm.password.$touched">
  <span ng-show="regForm.password.$error.required" class="hasherrormsg">This field is required</span>
  <span ng-show="regForm.password.$error.minlength" class="hasherrormsg">The password should be more then 8 character</span>
  <span ng-if="passwordvalidatemsg">{{passwordvalidatemsg}}</span>
  <span ng-if="passwordinvalidatemsg">{{passwordinvalidatemsg}}</span>
  </div>
<!--CONFIRM PASSWORD-->
  <div class="form-group">
  <input type="password" placeholder="Confirm password" class="form-control" required>
  </div>

  <button type="submit" ng-click="SaveData(register)" class="hashloginbutton">Register</button>
  <div>{{msg}}</div>
</form>
</div>
</div>
</div>
</div>
